<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sulagna Kundu | Personal Projects</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/28b7aa8911.js" crossorigin="anonymous"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon-16x16.png">
    <link rel="manifest" href="../static/img/site.webmanifest">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/pp.css">
</head>
<body>
    <nav class="navbar">
        <div class="max-width">
            <ul class="menu">
                <li><a href="/home.pug"><i class="fa-solid fa-house"></i> Home</a></li>
                <li><a href="/about.pug"><i class="fa-solid fa-user"></i> About Me</a></li>
                <li><a href="/skills.pug"><i class="fa-solid fa-graduation-cap"></i> Skills</a></li>
                <li><a href="/pp.pug"><i class="fa-solid fa-laptop-code"></i> Personal Projects</a></li>
                <li><a href="/contact.pug"><i class="fa-solid fa-address-book"></i> Contact Me</a></li>
            </ul>
        </div>
    </nav>

    <div class="navbar1">
        <div class="dropdown">
            <button class="dropbtn">Home
            <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/home.pug">Home</a>
                <a href="/about.pug">About Me</a>
                <a href="/skills.pug">Skills</a>
                <a href="/pp.pug">Personal Projects</a>
                <a href="/contact.pug">Contact Me</a>
            </div>
        </div>
    </div>
    
    <div class="container">
        <h2>Personal Projects</h2>
        <hr>
        <h3>Weather Reporting Website</h3>
        <p>It is a weather reporting website that fetches the weather reports of different cities using fetch API.</p>
        <p>Frameworks used: HTML,CSS,JavaScript.</p>
        <p><a href="https://weather-application-by-sulagna.netlify.app/" target="_blank">Link to the website</a></p>
        <br>

        <h3>Notes taking website</h3>
        <p>It is a website that can be used to take notes,save and delete them.It uses local storage to save the data.</p>
        <p>Frameworks used: HTML,CSS,JavaScript.</p>
        <p><a href="http://notes-taking-app-by-sulagna.netlify.app/" target="_blank">Link to the website</a></p>
        <br>

        <h3>Online Calculator</h3>
        <p>It is a Simple,smart online calculator that can perform simple arithmetic calculations like addition,subtraction,muliplication etc.</p>
        <p>Frameworks used: HTML,CSS,JavaScript.</p>
        <p><a href="http://smart-calculator-by-sulagna.web.app/" target="_blank">Link to the website</a></p>
        <br>    
        
        <h3>Tic-Tac-Toe Game</h3>
        <p>Created a Tic-Tac-Toe game that can be played by two players.</p>
        <p>Frameworks used: HTML,CSS,JavaScript.</p>
        <p><a href="http://my-tic-tac-toe-created-by-sulagna.netlify.app/" target="_blank">Link to the website</a></p>

        <!--<h3>Online Food Delivery System</h3>
        <p>A simple personal portfolio website using HTML , CSS , JS and MONGO DB</p>-->

    </div>
    <footer id="foot" class="footer">&copy;SulagnaKundu.All rights reserved 2022.</footer>
    <script src="../static/home.js"></script>
</body>
</html>